<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Registro de Clientes</h2>
            <form [formGroup]="formGroup">

                <div class="form-group">
                    <label>Tipo de Identificacion</label>
                    <select type="text" name="tipoId" formControlName="tipoId" class="form-control"
                        [ngClass]="{ 'is-invalid' : control.tipoId.errors}">
                    <option value="CC">Cedula de Ciudadania</option>
                    <option value="NIT">N I T </option>
                    <option value="PP">Pasaporte</option>
                    <option value="CC">Cedula Extranjeria</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Id Cliente</label>
                    <input type="text" name="id" formControlName="id" class="form-control"
                        [ngClass]="{ 'is-invalid ' : control.id.errors}" />
                    <div *ngIf="control.id.errors" class="invalid-feedback">
                        <div *ngIf="control.id.errors.required">Identificacion requerida</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Nombre del Cliente</label>
                    <input type="text" name="nombre" formControlName="nombre" class="form-control"
                        [ngClass]="{ 'is-invalid': control.nombre.errors}" />
                    <div *ngIf="control.nombre.errors" class="invalid-feedback">
                        <div *ngIf="control.nombre.errors.required">El nombre es requierido</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Telefono </label>
                    <input type="text" name="telefono" formControlName="telefono" class="form-control"
                        [ngClass]="{ 'is-invalid': control.telefono.errors}" />
                    <div *ngIf="control.telefono.errors" class="invalid-feedback">
                        <div *ngIf="control.telefono.errors.required">Telefono requerido</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Direccion</label>
                    <input type="text" name="direccion" formControlName="direccion" class="form-control"
                        [ngClass]="{ 'is-invalid': control.direccion.errors}" />
                    <div *ngIf="control.direccion.errors" class="invalid-feedback">
                        <div *ngIf="control.direccion.errors.required">Direccion requerida</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': control.email.errors}" />
                    <div *ngIf="control.email.errors" class="invalid-feedback">
                        <div *ngIf="control.email.errors.required">Email requerido</div>
                    </div>
                </div>

                <!-- Ojo aqui va el alquiler-->
                <div class="text-center">
                    <button class="btn btn-primary mr-1" (click)="onSubmit()"
                    [disabled]="formGroup.invalid">Registrar</button>
                    <button class="btn btn-secondary" type="reset">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>