<div class="row">
    <div class="col-6">
        <input [(ngModel)]="searchText" type="text" class="form-control" placeh older="Type to filter">
    </div>
</div>
<hr>

<table class="table table-striped" *ngIf='clientes && clientes.length'>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo Id</th>
            <th scope="col">Identificación</th>
            <th scope="col">Nombre </th>
            <th scope="col">Telefono</th>
            <th scope="col">Direccion</th>
            <th scope="col">Alquiler</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes|filtrocliente:searchText; index as i ">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ cliente.tipoId }} </td>
            <td>{{ cliente.idCliente }}</td>
            <td>{{ cliente.nCliente }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>{{ cliente.alquiler }}</td>
        </tr>
    </tbody>
</table>