<div class="modal-header">
    <h4 class="modal-title">Registrar marca</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>

</div>
<div class="modal-body">
    <form [formGroup]="_form">
        <input placeholder="Nombre" class="form-control" type="text" formControlName="key" [ngClass]="{'is-invalid': _form.controls.key.errors}">
        <div *ngIf="_form.invalid" class="invalid-feedback">Ingrese nombre</div>
        <div *ngIf="view" class="invalid-feedback">{{message}}</div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
    <button type="button" class="btn btn-outline-dark" (click)="post()">Guardar</button>
</div>
