<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Registro de Equipos</h2>
            <form [formGroup]="formGroup">

                <!--<form>
                    <div class="form-group">
                        <label>Id del Equipo</label>
                    <select type = text name="idEquipo" [(ngModel)]="equipo.idEquipo" class="form-control" >
                        <option>Est-100</option>
                        <option>Niv-200 </option>
                        <option>Teo-300 </option>
                        <option>GPS-Nav-400 </option>
                        <option>GPS-SubM-500 </option>
                        <option>RTK-600 </option>
                    </select>
                    </div>
                  </form> -->
               
                <div class="form-group">
                    <label>Nombre del Equipo</label>
                    <input type="text" formControlName="nombre" class="form-control">
                </div>

                <div class="form-group">
                    <label>Marca</label>
                    <select type = text name="marca" formControlName="marca" class="form-control">
                        <option *ngFor="let item of marcas" value="item.nombre">{{item.nombre}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Valor x día</label>
                    <input type="number" name="valor" formControlName="valor" class="form-control"/>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mr-1" (click)="add()">Registrar</button>
                    <button class="btn btn-secondary" type="reset">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>